/* Master Styles */

body {
    margin: 0px;
    font-family: "Lato", sans-serif;
    border-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    /* 100% of the screen split into columns*/
}

/* Nav Styles */
.nav_wrapper {
    display:flex;
    justify-content: space-between;
    padding: 30px;
}


.left_side {
    display: flex;
    
}


.nav_wrapper > .left_side > div {
    margin-right: 20px;
    font: size 0.9rem;
    text-transform:uppercase;
}


.nav_link_wrapper {
    height: 25px;
    border: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.nav_link_wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}


.nav_link_wrapper:hover {
    border-bottom: 1px solid black;
}


.nav_link_wrapper a:hover {
    color: black;
}

/* Portfolio Styles */

.portfolio_items_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.portfolio_item_wrapper {
    position: relative;
}

.portfolio_img_background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.img_text_wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 180px;
    padding-right: 100px;
}

.logo_wrapper img {
    width: 80%;
    margin-bottom: 20px;
    
}

.img_text_wrapper .subtitle {
    transition: 1s;
    color: transparent;
}


.img_text_wrapper:hover .subtitle {
    font-weight: 700;
    color: springgreen  ;
}

.img_darken {
    transition: 1s;
    filter: brightness(10%);
}

.image_blur {
    transition: 1s;
    filter: brightness(10%);
}


.two_column_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}







#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    
}


.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color:lightseagreen;
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content h2 {
    color: white;
}
.content1 {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    width: 100%;
    height: 80% ;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}







